/* Custom Style Sheet							*/
/* Interpreter Version: 1.1						*/
/* File Name:								*/
/* 	QScrollBar.css							*/
/*									*/
/* File Description:							*/
/*	Styling for scrollbars, and the Time Progress bar go here 	*/
/*									*/
/* Version Notes:							*/
/*      Only one line comments are supported				*/
/*	Comments must have opening '/*' and closing '*/' 		*/
/*		characters - all on one line				*/
/*									*/
/*      Place images in ./style/images/					*/
/*      path to images is: url(%IMAGE%image.png)			*/
/*									*/
/*      If a file named 'Main.css' exists, it will be loaded first 	*/
/*	Files that contain the lowercase letter 'x' as the first 	*/
/*		letter in the name will be ignored when styles 		*/
/*		are being loaded					*/

QScrollBar:horizontal {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_p_vdark%, stop: 0.7 %theme_p_dark%,
                    stop: 1.0 %theme_p_vdark%);
    height: 15px;
    margin: 0px 18px 0px 18px;
}

QScrollBar::handle:horizontal {

    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_p_dark%, stop: 0.7 %theme_p_mid%,
                    stop: 1.0 %theme_p_dark%);
    background-image: url(%IMAGE%qscrollbar_handle_horizontal.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid %theme_very_dark%;
    border-radius: 6px;
             
    min-width: 10px;
}

/*left button*/
QScrollBar::sub-line:horizontal {
    border: 1px solid %theme_very_dark%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: %theme_button%;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal:hover {
    background: %theme_button_hover%;
}
QScrollBar::sub-line:horizontal:pressed{
    background: %theme_button_pressed%;
}
QScrollBar:left-arrow:horizontal {
    border-image: url(%IMAGE%qscrollbar_arrow_left.png);
    width: 8px;
    height: 8px;
}


/*right button*/
QScrollBar::add-line:horizontal {
    border: 1px solid %theme_very_dark%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: %theme_button%;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    
}
QScrollBar::add-line:horizontal:hover {
    background: %theme_button_hover%
}
QScrollBar::add-line:horizontal:pressed {
    background: %theme_button_pressed%
}

QScrollBar::right-arrow:horizontal {
    border-image: url(%IMAGE%qscrollbar_arrow_right.png);
    width: 8px;
    height: 8px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

/* ************************************************************ */
 
QScrollBar:vertical {
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                    stop: 0 %theme_p_vdark%, stop: 0.7 %theme_p_dark%,
                    stop: 1.0 %theme_p_vdark%);
    width: 14px;
    margin: 18px 0 18px 0;
}

QScrollBar::handle:vertical {
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                    stop: 0 %theme_p_dark%, stop: 0.7 %theme_p_mid%,
                    stop: 1.0 %theme_p_dark%);
    background-image: url(%IMAGE%qscrollbar_handle_vertical.png);
    background-position: center;
    background-repeat: no-repeat;
    /* repeated texture on handle*/                
    /*border-image: url(%IMAGE%qscrollbar_vertical.png) -5 0 -5 0 repeat;*/
    border: 1px solid %theme_very_dark%;
    border-radius: 4px;

    min-height: 16px;
}
/*top button*/
QScrollBar::sub-line:vertical {
    border: 1px solid %theme_very_dark%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: %theme_button_90%;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:hover {
    background: %theme_button_hover_90%;
}
QScrollBar::sub-line:vertical:pressed {
    background: %theme_button_pressed_90%;
}
QScrollBar:up-arrow:vertical {
    border-image: url(%IMAGE%qscrollbar_arrow_top.png);
    width: 8px;
    height: 8px;
}


/*bottom button*/
QScrollBar::add-line:vertical {
    border: 1px solid %theme_very_dark%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: %theme_button_90%;
    
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:hover {
    background: %theme_button_hover_90%;
}
QScrollBar::add-line:vertical:pressed {
    background: %theme_button_pressed_90%;
}

QScrollBar::down-arrow:vertical {
    border-image: url(%IMAGE%qscrollbar_arrow_bottom.png);
    width: 8px;
    height: 8px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}













QScrollBar#MpMediaTime:horizontal {
    border-top: 2px solid %theme_very_dark%;
    border-bottom: 2px solid %theme_very_dark%;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_s_vdark%, stop: 0.7 %theme_s_dark%,
                    stop: 1.0 %theme_s_vdark%);
    height: 16px;
    margin: 0px 8px 0px 8px;
}

QScrollBar#MpMediaTime::handle:horizontal {

    /* background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,             */
    /*                 stop: 0 %theme_p_dark%, stop: 0.4 %theme_s_mid%,    */
    /*                 stop: 0.7 %theme_p_mid%, stop: 1.0 %theme_p_dark%); */
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0.0 %theme_p_dark%, 
                    stop: 0.5 %theme_p_mid%, 
                    stop: 1.0 %theme_p_dark%);

    border: 2px solid %theme_p_dark%;
    border-radius: 1px;
    margin-top: -2px;
    margin-bottom: -2px;
    /*  border-top-left-radius: 16px;        */
    /*  border-top-right-radius: 16px;       */
    /*  border-bottom-left-radius: 16px;     */
    /*  border-bottom-right-radius: 16px;    */
             
    min-width: 8px;
    max-width: 8px;
}

/*left button*/
QScrollBar#MpMediaTime::sub-line:horizontal {
    border: 1px solid %theme_very_dark%;
    border-top: 2px solid %theme_very_dark%;
    border-bottom: 2px solid %theme_very_dark%;
    border-right: 2px solid %theme_very_dark%;
    border-radius: 0px;
    margin: -1px 0 -1px 0;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_s_dark%, stop: 0.3 %theme_s_mid%,
                    stop: 1.0 %theme_s_dark%);
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

/*right button*/
QScrollBar#MpMediaTime::add-line:horizontal {
    border: 1px solid %theme_very_dark%;
    border-top: 2px solid %theme_very_dark%;
    border-bottom: 2px solid %theme_very_dark%;
    border-left: 2px solid %theme_very_dark%;
    border-radius: 0px;
    margin: -1px 0 -1px 0;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_s_dark%, stop: 0.3 %theme_s_mid%,
                    stop: 1.0 %theme_s_dark%);
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    
}

QScrollBar#MpMediaTime::sub-line:horizontal:hover, QScrollBar#MpMediaTime::add-line:horizontal:hover  {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_s_mid%, stop: 0.5 %theme_s_light%,
                    stop: 1.0 %theme_s_dark%);
}

QScrollBar#MpMediaTime::sub-line:horizontal:pressed, QScrollBar#MpMediaTime::add-line:horizontal:pressed  {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 %theme_s_light%, stop: 0.5 %theme_s_dark%,
                    stop: 1.0 %theme_s_mid%);
}

QScrollBar#MpMediaTime::left-arrow:horizontal, QScrollBar#MpMediaTime::right-arrow:horizontal {
    border-image: none;
    width: 0px;
    height: 0px;
}

QScrollBar#MpMediaTime::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

/*************************************************/
/*************************************************/
/*************************************************/
QSlider::groove:horizontal {
     border: 1px solid %theme_very_dark%;

     height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 %theme_p_mid%, stop:1 %theme_p_dark%);
     /* top right bottom left*/
     margin-left: 5px;
     margin-right: 5px;
 }
 
QSlider::handle:horizontal {

    /* background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,             */
    /*                 stop: 0 %theme_p_dark%, stop: 0.4 %theme_s_mid%,    */
    /*                 stop: 0.7 %theme_p_mid%, stop: 1.0 %theme_p_dark%); */
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0.0 %theme_p_dark%, 
                    stop: 0.5 %theme_p_mid%, 
                    stop: 1.0 %theme_p_dark%);

    border: 2px solid %theme_very_dark%;
    border-radius: 1px;
    margin: -5px;
    /*  border-top-left-radius: 16px;        */
    /*  border-top-right-radius: 16px;       */
    /*  border-bottom-left-radius: 16px;     */
    /*  border-bottom-right-radius: 16px;    */
             
    min-width: 6px;

}

/* **********************************************************************************/
/* **********************************************************************************/


