/* Custom Style Sheet							*/
/* Interpreter Version: 1.1						*/
/* File Name:								*/
/* 	QTable.css							*/
/*									*/
/* File Description:							*/
/*	Styling for Tables go here					*/
/*	Special Table Names:						*/
/*		table_Library	- Library				*/
/*		table_Playlist	- Playlist				*/
/*		table_Quick	- The Quick Select Table		*/
/*	Access a Special table by typing:				*/
/*		QTableView#table_<name> 				*/
/*									*/
/* Version Notes:							*/
/*      Only one line comments are supported				*/
/*	Comments must have opening '/*' and closing '*/' 		*/
/*		characters - all on one line				*/
/*									*/
/*      Place images in ./style/images/					*/
/*      path to images is: url(%IMAGE%image.png)			*/
/*									*/
/*      If a file named 'Main.css' exists, it will be loaded first 	*/
/*	Files that contain the lowercase letter 'x' as the first 	*/
/*		letter in the name will be ignored when styles 		*/
/*		are being loaded					*/


/*table_Library*/
/*table_Playlist*/
/*table_Quick*/
QTableView {
    background-color: %theme_bg_color%;
    alternate-background-color: %theme_bg_color_alt%;
    border: 2px solid %theme_very_dark%;
    selection-color: black;
    show-decoration-selected: 0;
    padding-right:0px;
    outline:0px;
    gridline-color: %theme_very_dark%;
}

QTreeView::item:selected{
    border: 0px transparent;
}

QHeaderView {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
       stop: 0 %theme_p_mid%, stop: 1.0 %theme_p_dark%);
    border: 1px solid %theme_very_dark%;
	
}
QHeaderView::section{
    background-color: %theme_button%;
    color: %text_dark%;
    border: 1px solid %theme_very_dark%;
}
QHeaderView::section:hover {
    background-color: %theme_button_hover%;
    color: %text_dark%;
    border: 1px solid %theme_very_dark%;
}
QHeaderView::section:pressed {
    background-color: %theme_button_pressed%;
    color: %text_dark%;
    border: 1px solid %theme_very_dark%;
}
QHeaderView::down-arrow {

    subcontrol-origin: padding;
    subcontrol-position: right;
    image: url(%IMAGE%qspinbox_arrow_down.png);
}

QHeaderView::up-arrow {
    subcontrol-origin: border;
    subcontrol-position: right;
    image: url(%IMAGE%qspinbox_arrow_up.png);
}



QTreeWidget {
    background-color: %theme_p_light%;
    border: 2px solid %theme_very_dark%;
    selection-color: %text_color%;
	color: black;
    show-decoration-selected: 0;
    padding-right:0px;
    outline:0px;
}
QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(%IMAGE%qtreeview_vine.png) 0;
 }

 QTreeView::branch:has-siblings:adjoins-item {
	border-image: url(%IMAGE%qtreeview_branch_more.png) 0;
 }

 QTreeView::branch:!has-children:!has-siblings:adjoins-item {
	 border-image: url(%IMAGE%qtreeview_branch_end.png) 0;
 }

 QTreeView::branch:has-children:!has-siblings:closed,
 QTreeView::branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(%IMAGE%qtreeview_closed.png);
 }

 QTreeView::branch:open:has-children:!has-siblings,
 QTreeView::branch:open:has-children:has-siblings  {
	border-image: none;
	image: url(%IMAGE%qtreeview_open.png);
 }
/* style the sort indicator                            */
/* QHeaderView::down-arrow {                           */
/*     image: url(qscrollbar_arrow_left.png);          */
/* }                                                   */
/*                                                     */
/* QHeaderView::up-arrow {                             */
/*     image: url(qscrollbar_arrow_right.png);         */
/* }                                                   */